<main>
  <h2>List of All Pets</h2>
  <section>
    <% @pets.each do |pet| %>
      <article class="pets-<%= pet.id %>">
        <h3><%= pet.name %></h3>
        <%= image_tag(pet.image) %>
        <p>Age: <%= pet.approximate_age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Shelter: <%= pet.shelter.name %>

        <%= link_to "Update Pet", "/pets/#{pet.id}/edit"%>
        <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
      </article>
    <% end %>
  </section>
</main>
