<%= image_tag(@pet.image)%>
<h2><%= @pet.name %></h2>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoptable: <%= @pet.adoptable %></p>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit"%>